* {
    margin: 0;
}

* a:visited {
    color: blue;
}

.blue_header {
    background-color: #9CD6F4;
    background-image: url('/img/pattern.png');
    background-size: 30em;
}

.img_control {
    width: 200px;
    margin: 25px 5px;
}

.margin_zero {
    padding: 0%;
}

.mini_p {
    font-size: small;
}


.margin_bottom_high {
    margin-bottom: 2%;
}

.margin_x_high {
    margin-left: 5%;
    margin-right: 5%;
}

.margin_top_high {
    margin-top: 2%;
}

.table_head {
    background-color: #7FA6FB;
    color: white;
}

.bg_yellow {
    background-color: yellow;
}

.table_data {
    background-color: #DFE5F2;
}

footer {
    background-color: #313A6B;
    text-align: center;
    padding: 1%;
    margin-top: 50px;
    color: white;
}

.no_underline {
    text-decoration: none;
}

.margin_left_short {
    padding-left: 15px;
}

.padding_right_big {
    padding-right: 100px;
}


